		<%- include layouts/header.ejs %>

	<div id="fh5co-portfolio">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Portfolio</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
				</div>
			</div>

			<div class="row">
					<% service.forEach(function(item){%>
				<div class="col-md-4">
					<div class="fh5co-portfolio animate-box">
						<a href="/<%= item.id %>">
							<div class="portfolio-entry" style="background-image:url(<%= item.image %>)" ></div>
							<div class="portfolio-text">
								<h3><%= item.title %></h3>
								<ul class="stuff">
									<li><i class="<%= item.icon %>"></i> 200</li>
									<li><i class="<%= item.icon %>"></i>  248</li>
									<li><i class="<%= item.icon %>"></i> 240</li>
								</ul>
							</div> 
						</a>
					</div>
				</div>
				<%}); %>

			</div>
		</div>
	</div>
			
	</div>
		
	
	<div id="fh5co-started">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Hire Us!</h2>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
					<p><a href="#" class="btn btn-default btn-lg">Contact Us</a></p>
				</div>
			</div>
		</div>
	</div>

	<%- include layouts/footer.ejs %>